services:
  reverse-proxy:
    image: traefik:v3.6.6
    container_name: traefik
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${WORKING_DIR_TRAEFIK}/traefik.toml:/etc/traefik/traefik.toml
      - ${WORKING_DIR_TRAEFIK}/acme.json:/acme.json
      - ${WORKING_DIR_TRAEFIK}/logs:/var/log
    labels:
      - "traefik.http.middlewares.strip-www.redirectregex.regex=^https?://(www\\.)(.+)"
      - 'traefik.http.middlewares.strip-www.redirectregex.replacement=https://$${2}'
      - 'traefik.http.middlewares.strip-www.redirectregex.permanent=true'
    restart: always
    networks:
      - web

  platform:
    image: pyronear/pyro-platform-react:latest
    container_name: platform
    ports:
      - 8080:8080
    expose:
      - 8080
    volumes:
      - ${WORKING_DIR_REACT}/config/sites_infos_prod.json:/usr/share/nginx/html/config/sites_infos_prod.json
      - ${WORKING_DIR_REACT}/config/sites_live_access_prod.json:/usr/share/nginx/html/config/sites_live_access_prod.json
      - ${WORKING_DIR_REACT}/config/app-config-prod.js:/usr/share/nginx/html/config/app-config.js
    networks:
      - web
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.platform.rule=Host(`platformv3.pyronear.org`)'
      - 'traefik.http.routers.platform.entrypoints=websecure'
      - 'traefik.http.services.platform.loadbalancer.server.scheme=http'
      - 'traefik.http.services.platform.loadbalancer.server.port=8080'

networks:
  web:
    external: true
