services:
  reverse-proxy:
    image: traefik:v2.4
    container_name: traefik
    ports:
      - '80:8050'
      - '8080:8080'
      - '443:443'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - $PWD/traefik.toml:/etc/traefik/traefik.toml
      - $PWD/acme.json:/acme.json
    labels:
      - "traefik.http.middlewares.strip-www.redirectregex.regex=^https?://(www\\.)(.+)"
      - 'traefik.http.middlewares.strip-www.redirectregex.replacement=https://$${2}'
      - 'traefik.http.middlewares.strip-www.redirectregex.permanent=true'
    restart: always
    networks:
      - web

  frontend:
    image: pyronear/pyro-platform-react:latest
    container_name: pyro-platform-react
    ports:
      - 8080:8080
    expose:
      - 8080
    volumes:
      - ${WORKING_DIR}/config/sites_infos_prod.json:/usr/share/nginx/html/sites_infos_prod.json
      - ${WORKING_DIR}/config/sites_live_access_prod.json:/usr/share/nginx/html/sites_live_access_prod.json
      - ${WORKING_DIR}/config/app-config.js:/usr/share/nginx/html/app-config.js
      - ${LOG_DIR}:/var/log/nginx
    networks:
      - web
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.platform.rule=Host(`platform.pyronear.org`)'
      - 'traefik.http.routers.platform.entrypoints=websecure'

networks:
  web:
    external: true
