name: Build docker image

on:
  push:
    branches: 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    name: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: ${{ vars.PNPM_VERSION }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ vars.NODE_VERSION }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install
